.algorithm-view
  .row
    big-breadcrumbs.col-xs-12.col-sm-7.col-md-7.col-lg-4(items="['Algorithm', 'Do it']", icon='tasks')

  .row
    #content.span(ng-if='!vm.algorithm')
      .text-muted This algorithm seems to be outdated. Click
        a#link(ui-sref='algorithms') here
        | to go back to algorithms page.
    .col-md-12(ng-if='vm.algorithm')
      panel(heading='{{vm.algorithm.name}}', icon='info-circle', go-to='vm.goBack()', go-to-text='Go back')
        table.table-responsive(ng-if='vm.infos.length')
          table.table.table-bordered.table-striped
            tbody(ng-repeat='info in vm.infos')
              tr(ng-repeat='(key, val) in info')
                td.text-capitalize.text-muted {{key}}
                td(ng-switch='', on='key')
                  a(href='mailto:{{val}}', ng-switch-when='email') {{val}}
                  a(href='{{val}}', target='_blank', ng-switch-when='website') {{val}}
                  a(href='{{val}}', target='_blank', ng-switch-when='url') {{val}}
                  a(href='http://dx.doi.org/{{val}}', target='_blank', ng-switch-when='DOI') {{val}}
                  span(ng-switch-default) {{val}}
      panel(heading='Image Gallery', icon='image')
        dia-algorithm-images-gallery(data-images='vm.images', set-selected-image='vm.setSelectedImage(image)')
      panel(heading='Apply Algorithm on Image', icon='image', ng-if='vm.selectedImage && vm.state=="highlight"')
        .col-xs-12.col-lg-6
          .canvas-wrapper(ng-if='vm.highlighter')
            dia-algorithm-rectangle(ng-if='vm.highlighter=="rectangle"',
                                    data-selected-image='vm.selectedImage',
                                    data-selection='vm.selection')
            dia-algorithm-polygon(ng-if='vm.highlighter=="polygon"',
                                  data-selected-image='vm.selectedImage',
                                  data-selection='vm.selection',)
            dia-algorithm-circle(ng-if='vm.highlighter=="circle"',
                                 data-selected-image='vm.selectedImage',
                                 data-selection='vm.selection')
          .selected-image(ng-if='!vm.highlighter')
            img#image(ng-src='{{vm.selectedImage.url}}')
        .col-xs-12.col-lg-6
          dia-algorithm-inputs(data-algorithm='vm.algorithm',
                               data-model='vm.model',
                               data-inputs='vm.inputs',
                               data-highlighter='vm.highlighter'
                               data-valid-highlighter='vm.validHighlighter'
                               data-selected-image='vm.selectedImage')
